@font-face {
  font-family: 'helvetica_now_display';
  src: url('/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_now_display';
  src: url('/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'helvetica_now_display';
  src: url('/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
}


