<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Read Page</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl traking-tighter mb-3">All Users</h1>
        <div class="users">
            <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-red-500 "></div>
                <h3 class="text-xl mt-3 traking-tighter">Sourav Biswas</h3>
                <h3 class="text-zinc-500">sporav@gmail.com</h3>
                <div class="flex mt-10 gap-3">
                    <a class="text-zinc-200" href="">Edit User</a>
                    <a class="text-red-500" href="">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>